version: "3.7"
services:
  app:
    build:
      context: .
      target: dev-stage
    command: ["npm", "run", "dev"]
    volumes:
    - .:/usr/src/
    - /usr/src/node_modules
    env_file: .env
    ports:
      - "3000:3000"
